*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*topbar 1 start*/
.top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d309099c;
    font-family: bold;
    color: white;
    font-weight: 600;
}
.form-control{
    font-size: 17px;
    margin: 8px;
}
.form-control:hover{
    border: 1px solid black;
}
/*topbar 1 end*/
/*navbar start*/
.hj {
    background-color: #cd0909ca;
}

.sz {
    font-size: 17px;
}

.btn-sm-square {
    font-size: 30px;
    display: flex;
}

.hh {
    display: flex;
}

.navlogo {
    height: 70px;
    transition: all 1s;
}

.navlogo:hover {
    height: 80px;
}

.mobilelogo {
    display: none;
}

@media screen and (max-width: 768px) {
    navbar {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    navbar-nav a:hover {
        color: black;
    }
}
.ss {
    background-color: #cc2121b0;
}

.text {
    color: white;
}

.navbar-nav a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: bold;
    padding-bottom: 1.5rem;
}

.navbar-nav a:hover {
    color: black;
}
/*navbar end*/
/*slider div start*/
.w-100{
	height: 700px;
}
.carousel-caption h1{
    margin-bottom: 275px;
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
/*slider div end start*/
/*our services start*/
.card{
    position: relative;
    flex: 0 0 16%;
    min-height: 550px;
}
.card img{
    height: 400px;
    transition: all 0.5s ease-out;
    padding: 0;
    margin: 0;
    line-height: 0;
}
.card img:hover{
    transform:scale(1.3);
}
.read{
    background:#cd0909ca;
    position: relative;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.5s;
}
.read:hover{
    border: solid 2px #cd0909ca;
    color: #cd0909ca;
}
/*our services end*/
/* banner 1 start*/
.heading{
    font-size: 45px;
    margin-top: 75px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img123{
    height: 500px;
}
.b{
    margin-top: 55px;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
}
.b1{
    background-color: rgba(128, 128, 128, 0.22);
}
/* banner 1 end*/
/*banner 2 start*/
.gift{background:#cd0909ca;
    position: relative;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    min-width: 52px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.gift:hover{
    border: solid 2px #cd0909ca;
    color: #cd0909ca;
}
/*banner 2 end*/
/*footer start*/
.fp{
    color: white;
    font-size: 16px;
}
/*service page start head start*/
.head{
    background: url(../image/bg7.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    height: 700px;
}
.head1{
    font-family: 'prague';
    font-size: 75px;
    color: white;
    font-weight: 500;
    margin-top: 325px;
}
/*head end*/
.size{
    font-size: 20px;
}
.kh{
    max-height: 500px;
    max-width: 400px;
    
    /* margin-left: 100px; */
    
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.head5{
    background: url(../image/book.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 20px;
    background-repeat: no-repeat;
}
.mobileShow{
    display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px)
{
    .mobileShow{
        display: inline;
    }
}
.for{
    margin-top: 25px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
}
.fort{
    color: white;
}
.head6{
    background: url(../image/off.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}
.happy{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dham{
    color: #cd0909ca;
    text-align: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heart{
    font-size: 20px;
    color:#cd0909ca;
}
.happy1{
    letter-spacing: 1px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    line-height: 27px;
    margin-top: 25px;
}
.head7{
    background: url(../image/offer.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}
.social{
    display: flex;
}
.button1 button{
    height: 26px;
    background: #3b5998;
    width: 79px;
    padding-top: 2px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 37px;
    margin-top: 32px;
    margin-left: 132px;
    font-size: 14px;
}
.head8{
    background: url(../image/career2.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 650px;
    background-repeat: no-repeat;
}
.bhj{
    font-family: 'prague';
    font-size: 75px;
    color: white;
    font-weight: 500;
    margin-top: 200px;
}
.full{
    background: url(../image/want.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    
}
.full1{
    font-family: 'prague';
    font-size: 50px;
    color: black;
    font-weight: 500;
    margin-top: 250px;
}
.head9{
    background: url(../image/career.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 650px;
    background-repeat: no-repeat;
}
.head10{
    background: url(../image/want.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-top: 20px;
    background-repeat: no-repeat;
}
.locate iframe{
    width: 100%;
    height: 500px;
}
.bor{
    border-style: 5px solid red;
    
}


